.category {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        ul {
            button {
                border-radius: 30%;
                background-color: #64646459;
                margin: 2px;
                border: 2px solid black;

                &.active {
                    border: 2px solid #b3b0b0
                }

                &:hover {
                    box-shadow: 2px 2px 4px;
                    border: 2px solid lightgray;
                }

                .page {
                    background-color: transparent;
                    border: 0;
                    color: white
                }
            }
        }
    }

    .category__wrapper {
        display: flex;
        flex-direction: row;
        background-color: rgb(28 28 28 / 40%);
        margin: 0 200px;
        padding: 20px 0px;

        a {
            text-decoration: none;
        }


        .wrapper__item {
            text-align: center;
            padding: 10px;
            color: #ffffffc7;
            border: 5px solid #8d8d8dc7;



            &:hover {
                transform: (translate(4px, 4px));
                box-shadow: 2px 2px 4px;
            }

            .item__title {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 120px;

                h3 {
                    font-family: "Open-Sans";
                    font-weight: 700;
                    font-size: 22px;
                    max-width: 100%;
                }
            }

            .item__image {
                position: relative;
                border: 1px solid #8d8d8dc7;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 0;
                    padding-top: 152.15%;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: (translate(-50%, -50%));
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .category {
        .category__wrapper {
            margin: 0 100px;

            .wrapper__item {

                .item__title {

                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .category {
        .category__wrapper {
            margin: 0 100px;

            .wrapper__item {

                .item__title {

                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:768px) {
    .category__wrapper {
        margin: 0 40px;
    }
}

@media screen and (max-width:565px) {
    .category {
        .category__wrapper {
            margin: 0 20px;

            .wrapper__item {

                .item__title {

                    h3 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}