.film {
    background-color: black;

    .film__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 200px;
        padding: 100px 20px;
        background-color: rgba(29, 29, 29, 0.767);

        .film__title {
            text-align: center;
            color: white;
            font-size: 32px;
            padding: 20px;
        }

        .film__content {
            display: flex;
            gap: 60px;

            .film__poster {
                max-width: 30%;

                img {
                    width: 100%;
                    border: 2px solid rgba(175, 175, 175, 0.274);
                }

                .film__trailers {
                    .film__trailer {
                        position: relative;
                        margin: 10px;
                        max-width: 120px;

                        &:hover {
                            cursor: pointer;
                        }

                        &:hover::after {
                            content: 'Запустить';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            background-image: url(./../../assets/play.png);
                            background-size: 90%;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }

                }
            }

            .film__info {
                display: flex;
                flex-direction: column;
                max-width: 60%;

                h3 {
                    font-size: 24px;
                    color: white;
                }

                span {
                    padding: 5px;
                    font-size: 16px;
                    color: white
                }
            }
        }

    }
}

@media screen and (max-width:1200px) {
    .film {
        .film__wrapper {
            margin: 0 120px;
        }
    }

}

@media screen and (max-width:992px) {
    .film {
        .film__wrapper {
            margin: 0 80px;
        }
    }

}

@media screen and (max-width:768px) {
    .film {
        .film__wrapper {
            margin: 0 40px;

            .film__content {
                flex-direction: column;

                .film__poster {
                    margin: 0 auto;
                    max-width: 60%;
                }

                .film__info {
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:565px) {
    .film {
        .film__wrapper {
            margin: 0 20px;
        }
    }
}