.carousel {
    padding: 20px 20px;
    background-color: rgb(29, 29, 29);

    .carousel__title {
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Open-Sans';
        font-weight: 700;
    }
    :global(.swiper-slide).smallSlide {
        transform: scale(1);
    }
}

// .carousel::after {
//     content:'';
//     position: absolute;
//     top:0;
//     right:0;
//     bottom:0;
//     left:0;
//     background-image: url(./../../assets/light.png);
// }

.poster {
    max-height: 200px;
    max-width: 160px;
    width: 100%
}
