.carousel {
    padding: 20px 20px;
    background-color: rgb(29, 29, 29);

    a {
        text-decoration: none;
    }

    .carousel__title {
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Open-Sans';
        font-weight: 700;
    }
}

.poster {
    height: 100%;
    width: 100%
}

:global(.swiper-slide).smallSlide {
    transform: scale(1);
    min-height: 100%;
    height: auto;
}