.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    background-color: rgba(10, 10, 10, 1);
    z-index: 10;
    transition-duration: 2s;
    color: rgba(231, 231, 231, 0.75);
    font-size: 24px;
    line-height: 26px;




    .sidebar__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
        padding: 100px 15px;
        width: 300px;
        background-color: black;
        border-right:1px solid rgba(255, 255, 255, 0.5);

        .sidebar__form {
            display: flex;
            flex-direction: column;

            .form__country {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 10px;

                label {
                    padding-bottom: 5px;
                }

                select {
                    max-width: 240px;
                    outline: none;
                    width:100%
                }
            }

            .form__genre {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px 10px;

                label {
                    padding-bottom: 5px;
                }

                select {
                    max-width: 240px;
                    outline: none;
                    width:100%
                }
            }

            .form__sort {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 15px 10px;

                label {
                    padding-bottom: 5px;
                }

                select {
                    max-width: 240px;
                    outline: none;
                }
            }

            .form__year {
                text-align: center;
                padding: 15px 10px;

                label {
                    padding-bottom: 5px;
                }

                span {
                    padding: 0 5px;
                }

                input {
                    outline: none;
                    max-width: 60px;
                }
            }

            .form__rating {
                text-align: center;
                padding: 15px 10px;

                label {
                    padding-bottom: 5px;
                }

                span {
                    padding: 0 5px;
                }

                input {
                    outline: none;
                    max-width: 60px;
                }
            }

            .form__button {
                display: flex;
                justify-content: space-around;
                button {
                    border:2px solid white;
                    border-radius: 2px;
                }
            }
        }

        .sidebar__button {
            position: absolute;
            left: 300px;
            top: 350px;
            background-color: black;
            color: white;
            max-height: 60px;
            text-align: center;
            border-right:1px solid rgba(255, 255, 255, 0.5);
            border-left:1px solid black;
            border-top:1px solid rgba(255, 255, 255, 0.5);
            border-bottom:1px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
            border-radius: 0 15px 15px 0;

            img {
                max-height: 40px;
                rotate: 90deg
            }
        }
    }

    &.sidebar__close {
        left: -300px;

        .sidebar__wrapper {
            .sidebar__button {
                img {
                    rotate: -90deg;
                }
            }
        }

    }
}

@media screen and (max-width:1200px) {
    .sidebar {
        .sidebar__wrapper {
    width: 260px;
            .sidebar__form {
                .form__country {
                    label {
                    }
                    select {
                        width:90%;
                        font-size: 18px;
                    }
                }
    
                .form__genre {
                    label {
                    }
                    select {
                        width:90%;
                        font-size: 18px;
                    }
                }
    
                .form__sort {
                    label {
                    }
                    select {
                        width:90%;
                        font-size: 18px;
                    }
                }
    
                .form__year {
                    label {
                    }
    
                    span {
                    }
    
                    input {
                        width:90%;
                        font-size: 18px;
                    }
                }
    
                .form__rating {
                    label {
                    }
                    span {
                    }
                    input {
                        width:90%;
                        font-size: 18px;
                    }
                }
                .form__button {
                    button {
                        font-size: 18px;
                    }
                }
            }
    
            .sidebar__button {
                left: 260px;
                img {
                }
            }
        }
    
        &.sidebar__close {
            left:-260px;
            .sidebar__wrapper {
                .sidebar__button {
                    img {
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width:992px) {
    .sidebar {
        .sidebar__wrapper {
    width: 220px;
            .sidebar__form {
                .form__country {
                    label {
                    }
                    select {
                        font-size: 16px;
                    }
                }
    
                .form__genre {
                    label {
                    }
                    select {
                        font-size: 16px;
                    }
                }
    
                .form__sort {
                    label {
                    }
                    select {
                        font-size: 16px;
                    }
                }
    
                .form__year {
                    label {
                    }
    
                    span {
                    }
    
                    input {
                        font-size: 16px;
                    }
                }
    
                .form__rating {
                    label {
                    }
                    span {
                    }
                    input {
                        font-size: 16px;
                    }
                }
                .form__button {
                    button {
                        font-size: 16px;
                    }
                }
            }
    
            .sidebar__button {
                left:220px;
                img {
                }
            }
        }
    
        &.sidebar__close {
            left:-220px;
            .sidebar__wrapper {
                .sidebar__button {
                    img {
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width:768px) {
    .sidebar {
        .sidebar__wrapper {
    width: 200px;
            .sidebar__form {
                .form__country {
                    label {
                    }
                    select {
                    }
                }
    
                .form__genre {
                    label {
                    }
                    select {
                    }
                }
    
                .form__sort {
                    label {
                    }
                    select {
                    }
                }
    
                .form__year {
                    label {
                    }
    
                    span {
                    }
    
                    input {
                    }
                }
    
                .form__rating {
                    label {
                    }
                    span {
                    }
                    input {
                    }
                }
                .form__button {
                }
            }
    
            .sidebar__button {
                left:200px;
                img {
                }
            }
        }
    
        &.sidebar__close {
            left:-200px;
            .sidebar__wrapper {
                .sidebar__button {
                    img {
                    }
                }
            }
    
        }
    }
}

@media screen and (max-width:565px) {
    .sidebar {
        .sidebar__wrapper {
    width: 160px;
            .sidebar__form {
                .form__country {
                    label {
                    }
                    select {
                    }
                }
    
                .form__genre {
                    label {
                    }
                    select {
                    }
                }
    
                .form__sort {
                    label {
                    }
                    select {
                    }
                }
    
                .form__year {
                    label {
                    }
    
                    span {
                    }
    
                    input {
                        width: 40%;
                    }
                }
    
                .form__rating {
                    label {
                    }
                    span {
                    }
                    input {
                        width: 30%;
                    }
                }
                .form__button {
                }
            }
    
            .sidebar__button {
                left:160px;
                img {
                }
            }
        }
    
        &.sidebar__close {
            left:-160px;
            .sidebar__wrapper {
                .sidebar__button {
                    img {
                    }
                }
            }
    
        }
    }
}